* {
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hover {
  text-decoration: none;
  color: #63e2f7;
}
button {
  border-radius: 2em;
  margin: 10px;
  background-color: ghostwhite;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  border-style: ridge;
  border-color: lightgrey;
  font-weight: bold;
}
#selector {
  margin: 10px;
}
#delete {
  color: red;
}
.visited {
  text-decoration: none;
  color: #000000;
}
.form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin: 10px;
  padding: 2em;
  background-color: #63e2f7;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  align-content: space-around;
  width: 300px;
  border-color: aliceblue;
  border-style: ridge;
}
.form h3 {
  margin: 10px;
  padding: 1em;
}
.form label {
  margin: 2px;
}
.allItems {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
.allItems img {
  border-radius: 1em;
  margin: 1em;
}
.allItems a {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.singleItem {
  display: flex;
  margin: 10px;
  padding: 2em;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: azure;
}
.singleItem img {
  max-width: 60%;
  height: 60%;
  border-radius: 1em;
  margin: 2em;
}
.singleItem p {
  max-width: 75%;
  margin: 10px;
}
.singleItem a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: top;
}
#campuses,
#students,
#collegeStudents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
#campuses img,
#students img,
#collegeStudents img {
  border-radius: 1em;
  margin: 1em;
}
#campuses a,
#students a,
#collegeStudents a {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
#campus-form,
#student-form,
#studentEdit-form,
#campusEdit-form {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  margin: 10px;
  padding: 2em;
  background-color: #63e2f7;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-end;
  align-content: space-around;
  width: 300px;
  border-color: aliceblue;
  border-style: ridge;
}
#campus-form h3,
#student-form h3,
#studentEdit-form h3,
#campusEdit-form h3 {
  margin: 10px;
  padding: 1em;
}
#campus-form label,
#student-form label,
#studentEdit-form label,
#campusEdit-form label {
  margin: 2px;
}
#campusForm,
#studentForm {
  position: relative;
  left: 5px;
  width: 20%;
}
#campusForm h3,
#studentForm h3 {
  font-family: fantasy;
  font-weight: lighter;
  border-style: ridge;
  border-radius: 1em;
}
#campus-container,
#student-container {
  display: flex;
  flex-direction: row;
}
#homePage #studentsPage,
#homePage #campusesPage {
  display: flex;
  flex-direction: row;
}
#singleCampus {
  max-width: 330px;
  text-decoration: none;
}
#studentsPage,
#campusesPage {
  display: flex;
  flex-direction: row;
}
#studentsPage h4,
#campusesPage h4 {
  text-decoration: none;
}
#single-student,
#single-campus {
  display: flex;
  margin: 10px;
  padding: 2em;
  border-radius: 2em;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: azure;
}
#single-student img,
#single-campus img {
  max-width: 60%;
  height: 60%;
  border-radius: 1em;
  margin: 2em;
}
#single-student p,
#single-campus p {
  max-width: 75%;
  margin: 10px;
}
#single-student a,
#single-campus a {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#single-student h2,
#single-campus h2 {
  display: flex;
  justify-content: center;
  border-style: ridge;
  margin: 1em;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
li {
  flex: 1 1 20%;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  justify-content: flex-start;
  align-self: center;
  text-decoration: none;
  background-color: azure;
  background-image: none;
}
li h4 {
  background-color: aliceblue;
  text-decoration: none;
}
li a {
  display: block;
  text-align: center;
}
#singleStudent,
#singleCampus {
  display: flex;
  text-decoration: none;
  align-items: center;
}
li :visited {
  text-decoration: none;
  color: #000000;
}
body::after {
  content: "";
  background-color: lightslategrey;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin: 2px;
}
nav {
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #221e1e;
  background-image: url("https://s3-ap-south-1.amazonaws.com/blogmindler/bloglive/wp-content/uploads/2021/12/27200037/blog-23.png");
  background-size: 15%;
  background-position: 20% 0;
  position: sticky;
  opacity: 0.9;
  color: #070606;
  display: flex;
  height: 80px;
  padding: 10px;
  justify-content: flex-start;
  align-content: space-between;
}
nav a {
  display: flex;
  border-radius: 10px;
  background-color: #f2f3f5;
  align-items: center;
  text-decoration: none;
  padding: 5px;
  border-style: ridge;
  border-color: aliceblue;
  margin: 10px;
}
nav :visited {
  text-decoration: none;
  color: #000000;
}
nav :hover,
button :hover,
#singleCampus :hover,
#singleStudent :hover {
  text-decoration: none;
  color: #63e2f7;
}
main {
  margin: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
